<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <!-- Navbar Brand (Left) -->
      <a class="navbar-brand" routerLink="/">Mystic Vault</a>
  
      <!-- Navbar Toggler for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="nav-auth-buttons">
          <a class="nav-link" routerLink="/explore" *ngIf="isLoggedIn">Explore</a>
          <a class="nav-link" routerLink="/watchlist" *ngIf="isLoggedIn">Watchlist</a>
          <button class="btn login-btn" routerLink="/login" *ngIf="!isLoggedIn">Login</button>
          <button class="btn logout-btn" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
        </div>
      </div>
    </div>
  </nav>
  